# 忽略虛擬環境
.venv/

# 忽略 Python cache
__pycache__/
*.pyc

# 忽略 Jupyter Notebook checkpoints
.ipynb_checkpoints/

# 忽略 VSCode 設定
.vscode/
debug_commit.patch
main.patch
random_orbit_commit.patch
save_load_commit.patch
commit.patch
algorithm_commit.patch
output_graphs/*
